.gitignore
*~
.c9*
.releaserc.json
.env
.github/
*.pdf
package-lock.json
.editorconfig
release.js
.eslintrc.js
.prebuildrc
prettier.config.js
.eslintignore
node_modules/
teste.js
tests/
commands.js
.env.example
.vscode/
packages/
src/
tsconfig.json
tsconfig-build.json
tsconfig-build.tsbuildinfo
